# Xcode
.DS_Store
build/
*.xcuserstate
*.xcworkspace
*.xcuserdata

# Swift Package Manager
/.build
/Packages
/*.xcodeproj

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/
Carthage/Checkouts/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Bundler
/.bundle
/vendor/bundle

# SPM Packages
/.swiftpm/xcode

# Firebase

GoogleService-Info.plist
firebase-debug.log